<section class="page-section" id="contact">
	<div class="container">
		<!-- Contact Section Heading-->
		<app-title [dark]="true" [title]="'Contactame'"></app-title>
		<!-- Contact Section Form-->
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<!-- FORMULARIO.-->
				<form novalidate name="sentMessage" novalidate="novalidate" (ngSubmit)="onSave()" [formGroup]="contactForm">
					<!-- NOMBRE -->
					<div class="control-group ">
						<div class="form-floating mb-3 controls mb-0 pb-2">
							<input class="form-control" formControlName="name" type="text" placeholder="Nombre"
								[class]="isValidField('name')" />
							<label>Nombre</label>
							<!-- Mostrando Errores de las validaciones -->
							<div class="invalid-feedback">
								<span *ngIf="nameField.errors?.required"> Por Favor Digite Un Nombre </span>
								<span *ngIf="nameField.errors?.pattern">
									No Se Aceptan Números Ni Caracteres Especiales
								</span>
							</div>
						</div>
					</div>
					<!-- EMAIL -->
					<div class="control-group">
						<div class="form-group form-floating mb-3">
							<input class="form-control" formControlName="email" type="email" placeholder="Direccion Email"
								[class]=" isValidField('email')" />
							<label>Dirireción Email</label>
							<!-- Mostrando Errores de las validaciones -->
							<div class="invalid-feedback">
								<span *ngIf="emailField.errors?.required"> Por Favor Digite Un Email </span>
								<span *ngIf="emailField.errors?.pattern"> Digite Un Email Valido </span>
							</div>
						</div>
					</div>
					<!-- NUMERO MOVIL -->
					<div class="control-group">
						<div class="form-group form-floating mb-3">
							<input class="form-control" type="tel" placeholder="Número Del Móvil" formControlName="movil"
								[class]="isValidField('movil')" />
							<label>Número Del Móvil</label>
							<!-- Mostrando Errores de las validaciones telefono movil -->
							<div class="invalid-feedback">
								<span *ngIf="movilField.errors?.required">
									Por Favor Digite Un Número Móvil o Celular
								</span>
								<span *ngIf="movilField.errors?.pattern">
									Digite Un Número Móvil Valido
								</span>
							</div>
						</div>
						<!-- MENSAJE -->
						<div class="control-group">
							<div class="form-group form-floating">
								<textarea formControlName="message" class="form-control" style="height: 180px" rows="5"
									placeholder="Mensage" [class]="isValidField('message')"></textarea>
								<label>Mensage</label>
								<!-- Mostrando Errores de las validaciones -->
								<div class="invalid-feedback">
									<span *ngIf="messageField.errors?.required">
										Por Favor Digite Un Mensaje
									</span>
									<span *ngIf="messageField.errors?.minlength">
										Tú Mensaje Debe Ser Mas de
										{{ messageField.errors?.minlength?.requiredLength }} Caracteres
									</span>
									<span *ngIf="messageField.errors?.maxlength">
										Tú Mensaje Debe Ser Menos de
										{{ messageField.errors?.maxlength?.requiredLength }} Caracteres
									</span>
								</div>
							</div>
						</div>
						<br />
						<div id="success"></div>
						<div class="form-group"><button class="btn btn-primary btn-xl btn-block" type="submit">Enviar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>